#include<avr/io.h>
#include<avr/delay.h>
void main()
{
DDRD=0b00000000;                                 //Setting      
DDRB=0b11111111;                                //part D as an input part
PORTD=0b11111111;                                 //Setting 
int c;                                           //part D as an output part
while(1)                                         //Puling up 
{                                                //all the pins of part D
c=PIND;
	if(c==0b11111111)                        //No obstacle
		PORTB=0b00000101;                     //Forward
	
	if(c==0b11111110)                        //Obstacle to the right
		PORTB=0b00001001;                //Turn left
	
	if(c==0b11111101)                        //Obstacle at the centre
	{
		PORTB=0b00001010;
		_delay_ms(200);
		PORTB=0b00000110;
		_delay_ms(250);
	}
	if(c==0b11111100)                       //Obstacle to the
	{                                       //centre and right
		PORTB=0b00001010;               //Go back and turn left
		_delay_ms(200);                  
		PORTB=0b00001001;
		_delay_ms(230);
	}
	
	if(c==0b11111011)                      //Obstacle to the left
		PORTB=0b00000110;              //Turn right
	
	if(c==0b11111101)                      //Obstacles to both sides
	{
		PORTB=0b00001010;              //Go back and turn right
		_delay_ms(235);
		PORTB=0b00000110;
		_delay_ms(200);
	}
	if(c==0b11111001)                      //Obstacle to the centre and left
	{
		PORTB=0b00001010;              //Go back and turn right
		_delay_ms(200);
		PORTB=0b00000110;
		_delay_ms(225);
	}
	if(c==0b11111000)                      //Obstacle on all sides
	{
	   	PORTB=0b00001010;              //U turn
		_delay_ms(205);
		PORTB=0b00000110;
		_delay_ms(500);
	}
}
}








